# Onyx
.vscode/
.vs/
*build*/
setup/user-build.ini
.venv/
.DS_Store
.cache/
.clangd
docs/html/
docs/latex/
__pycache__/
reminders.txt
timeline.txt
codegen/cpp/vendor
generate-vkit-loader.sh
codegen/cpp/vendor/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
